<h1>Bars</h1>

<table class="ui table">
  <thead>
    <tr>
     <th>Bar</th>
      <th>Address</th>
      <th>City</th>
      <th>Phone Number</th>
      <th>Team(s)</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @bars.each do |bar| %>
      <tr>
        <td><%= bar.name%></td>
        <td><%= bar.address%></td>
        <td><%= bar.city%></td>
        <td><%= bar.phone%></td>
        <td><%= bar.teams.pluck(:name).join(",  ")%></td>
        <td><%= link_to "Delete", bar_path(bar), method: :delete, data: {confirm: "Are you sure you want to delete this bar?"}%></td>
        <td><%= link_to "Approve"%></td>
        <!-- <td>bar.address</td>
        <td>bar.city</td>
        <td>bar.phone</td>
        <td></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
