<div class="ui dividing header column">
  <span class="ui header">Fill out the form to add a bar</span>
  <%= link_to "Back", root_path, class:"pull-right", id:"back-link"%>
</div>

  <%= form_tag(nil, {class:"ui form", id:"add-form"}) do %>
    <div class="fields">
      <div class="six wide field">
        <%= label_tag(:city, "Enter City:") %>
        <%= text_field_tag(:city) %>
      </div>
      <div class="six wide field">
        <%= label_tag(:name, "Enter Bar:") %>
        <%= text_field_tag(:name) %>
      </div>
      <div class="four wide field">
        <label class="hidden">.</label>
        <button type="submit" class="ui submit button">Find</button>
      </div>
    </div>


  <% end %>
<div>

</div>

<div class="ui grid">
  <div class="six wide column">
    <div id="barDetails"></div>
  </div>
  <div class="ten wide column">
    <div id="teamInput"></div>
  </div>
</div>

<div id="showList" class="ui modal"></div>
