<!DOCTYPE html>
<html>
<head>
  <title>TryYelpster</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <style src ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.4/semantic.min.css"></style>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="ui secondary segment">


  <div class="nav">
  <% if current_user %>
    <%= link_to "Sign Out", signout_path %>
    |
    <%= link_to "Add Bar", new_bar_path %>
  <% else %>
    <%= link_to "Sign Up", signup_path %>
    |
    <%= link_to "Sign In", signin_path %>
  <% end %>
  </div>

  <p class="flash"><%= flash.notice %></p>

    <%= yield %>
  </div>
</body>
</html>
